body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin-top: 100px;
}

.container img {
    display: block;
    width: 100%;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 60px;
    background-color: black;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

nav .links a {
    font-size: 20px;
}

nav :checked~.links {
    bottom: 0;
}

nav .icon-burger {
    display: block;
}

nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}

nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}

nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
}
}

/* Background image */
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/rms.jpg');
    background-size: cover;
}

h1 {
    margin: 100px;
    text-align: center;
    color: black;
    font-size: 40px;
}


.categ{
    text-align: center;
    margin: 200px;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 8px;
}

ul {
    list-style-type: none;
}
  
h2{
    text-align: center;
    font-size: 50px;
}

.aboutus{
    font-size: 20px;
    margin: 100px;
    border-radius: 2px solid red;
}

.footer{
    font-size: 30px;
    margin: 50px 100px;
    text-align: center;
}

/*form*/
input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .container {
    padding: 16px;
    margin: 0px 350px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .pandemic{
      text-align: center;
      font-size: larger;
      font-weight: bold;
  }
  .button{
    margin-top: 0px;
    margin-bottom: 40px;
  }

  /*alert*/
  .alert {
    position: relative;
    top: 50px;
    left: 0;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }
  
  .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  .info {
    background-color: #EFE;
    border: 1px solid #DED;
    color: #9A9;
  }

  .red {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
  }